*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent:     #F2E7DC;
  --accent-rgb: 242, 231, 220;
  --text:       #F2E7DC;
  --text-rgb:   242, 231, 220;
  --invert-text: #027373;
  --font: 'Space Grotesk', sans-serif;
  --mono: 'Space Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #027373;
  font-family: var(--font);
  color: var(--text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
